<div class="container">
<%= form_with(model: meeting) do |form| %>
  <% if meeting.errors.any? %>
    <div style="g-color: red">
      <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
        <% meeting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-3">
    <%= form.label :name, class: 'col-2 form-label', style: "display: block" %>
    <div class="col-10">
    <%= form.text_field :name, class: 'form-control text-dark' %>
    </div>
  </div>

  <div class="form-group row mb-3">
    <%= form.label :date, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.text_field :start_time, class: 'form-control', data: { behavior: 'flatpickr' } %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :start_time, class: 'col-2 form-label', style: "display: block" %>
    <div class="col-10">
    <%= form.datetime_field :start_time, class: 'form-control', data: { behavior: 'flatpickr' } %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :end_time, class: 'col-2 form-label', style: "display: block" %>
    <div class="col-10">
    <%= form.datetime_field :end_time, class: 'form-control', data: { behavior: 'flatpickr' } %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :calendar_id, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <% if :calendar %>
    <%= form.collection_select(:calendar_id, Calendar.all, :id, :name, {:prompt => 'Veuillez sélectionner un calendrier'}, class: 'form-select') %>
    <% end %>
    </div>
  </div>

  <div class="form-group row mb-3">
    <%= form.label :location, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.text_field :location, class: 'form-control text-dark' %>
    </div>
  </div>

  <div class="form-group row mb-3">
    <%= form.label :description, class: 'mb-3' %>
    <%= form.text_field :description, class: 'form-control text-dark' %>
  </div>

  <div class="actions modal-footer">
    <%= form.submit class: 'btn btn-primary rounded-pill' %>
  </div>
<% end %>
 </div>
