<div id="<%= dom_id meeting %>">
  <p>
    <strong>Name:</strong>
    <%= meeting.name %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= meeting.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= meeting.end_time %>
  </p>

  <p>
    <strong>Calendar:</strong>
    [<%= meeting.calendar_id %>]
    <%= meeting.calendar.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= meeting.location %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= meeting.description %>
  </p>

  <hr>

 <!-- Render edit form for meetings -->
  <details>
    <summary>Edit this meeting</summary>
    <p><%= render "meetings/form", meeting: meeting %></p>
  </details>

</div>
