


<div class="row g-2">
  <div class="col-md">
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <!-- <img src="https://github.com/mdo.png" alt="" class="rounded-circle me-2" width="32" height="32"> -->
        <strong><label class="text-white" for="floatingSelectGrid">Views:</label></strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><%= link_to 'Day', home_myday_path, class:"dropdown-item link-secondary" %></li>
        <li><%= link_to 'Week', home_myweek_path, class:"dropdown-item link-secondary" %></li>
        <li><%= link_to 'Month', home_mymonth_path, class:"dropdown-item link-secondary" %></li>
        <li><%= link_to 'Year', home_mymonth_path, class:"dropdown-item link-secondary" %></li>
        <li><%= link_to 'Scheduled', home_myday_path, class:"dropdown-item link-secondary" %></li>
        <li><%= link_to '5 Days', home_mycustom_path, class:"dropdown-item link-secondary" %></li>
        <!-- <li><hr class="dropdown-divider"></li> -->
      </ul>
    </div>
  </div>
  <div class="col-md">
    <div class="form-floating">
      <select onChange="window.location.href=this.value" class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
        <option value="<%= home_myday_path %>">Day</option>
        <option value="<%= home_myweek_path %>">Week</option>
        <option value="<%= home_mymonth_path %>">Month</option>
        <option value="<%= home_mymonth_path %>">Year</option>
        <option value="<%= home_myday_path %>">Scheduled</option>
        <option value="<%= home_mycustom_path %>">5 Days</option>
      </select>
      <label for="floatingSelectGrid">Choose a view</label>
    </div>
  </div>
</div>
