<div class="active border border-bottom-0" role="presentation">
  <!--  month_calendar -->
  <%= week_calendar(events: @meetings) do |date, meetings| %>
    <!-- #Day of the month (rounded btn blue)-->
    <div class="position-relative">
      <% if date.day == Date.today.day %>
        <div type="button" class="position-absolute top-0 start-50">
          <%= link_to "#{date.day}", home_myday_path, class:"btn btn-sm btn-primary rounded-pill p-0", style:"width: 1.3rem; height:1.3rem;" %>
        </div>
      <% else %>
        <div type="button" class="position-absolute top-0 start-50 btn btn-sm btn-light rounded-pill p-0" style="width: 1.3rem; height:1.3rem;">
          <%= "#{date.day}" %>
        </div>
      <% end %>
    </div>

    <br>
    <!-- meetings event -->
    <% meetings.each do |meeting, calendar| %>
    <!-- Button trigger modal -->
      <div type="button" class="text-<%= meeting.calendar.text_color %> rounded-pill text-dark" role="presentation" style='background-color: <%= meeting.calendar.background_color %> !important' data-bs-toggle="modal" data-bs-target="#exampleModal-<%= dom_id meeting %>">
        <div class="collapse show" id="myMeetings">
        <span class="m-2">
          <%= meeting.start_time.strftime('%R') %>
          <strong><%= meeting.name %></strong>
        </span>
      </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal-<%= dom_id meeting %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><%= meeting.name %></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= render meeting %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <% end %>
  <% end %>
</div>
