<h1>Kewelta Danger!</h1>
<p>Welcome to your new Rails app. Now you can start building new features. Have fun! ;) </p>
<hr><br>
<!-- Nav tabs -->
  <!-- calendar -->
  <div class="bg-light" id="myTab" role="tablist">

    <strong class="text-danger"><h3>Month Calendar</h3></strong><br>

    <%= render "partials/month_view" %>
  </div>

  <br>

  <!--  week_calendar -->
  <div class="container bg-light" role="presentation">
    <strong class="text-danger"><h3>Week Calendar</h3></strong><br>
    You can generate a week calendar with the week_calendar method.

    <%= render "partials/week_view" %>
  </div>

  <br>

  <!--  day_calendar -->
  <div class="container bg-light" role="presentation">
    Setting number_of_weeks is optional and defaults to 1.
    <strong class="text-danger"><h3>Day Calendar</h3></strong><br>

    <%= render "partials/day_view" %>
  </div>

  <br>

  <!--  custom_calendar -->
  <div class="container bg-light" role="presentation">
    <strong class="text-danger"><h3>Custom Length Calendar</h3></strong><br>
    Setting number_of_weeks is optional and defaults to 1.

    You can generate calendars of any length by passing in the number of days you want to render.

    <%= calendar number_of_days: 5 do |date| %>
      <div class="position-relative">
        <% if date.day == Date.today.day %>
          <div type="button" class="position-absolute top-0 start-50">
            <%= link_to "#{date.day}", home_myday_path, class:"btn btn-sm btn-primary rounded-pill p-0", style:"width: 1.3rem; height:1.3rem;" %>
          </div>
        <% else %>
          <div type="button" class="position-absolute top-0 start-50 btn btn-sm btn-light rounded-pill p-0" style="width: 1.3rem; height:1.3rem;">
            <%= "#{date.day}" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
